:root {
    --primary-color: rgb(51, 51, 51);
    --secondary-color: rgb(26, 73, 136);
    --third-color: rgb(239, 239, 239);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

body {
    background: linear-gradient(var(--secondary-color), var(--white));
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.login-container img {
    width: 100px;
}

.login-container h1 {
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 20px;
}

input {
    text-align: center;
}

.login-input {
    height: 5%;
    width: 300px;
    outline: none;
    color: var(--primary-color);
    border: 2px solid var(--black);
    border-radius: 8px;
}

.login-input::placeholder {
    text-align: center;
    color: var(--primary-color);
    opacity: .2;

}

.login-button {
    width: 150px;
    height: 5%;
    margin-top: 20px;
    color: var(--white);
    border-radius: 8px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.login-button:disabled {
    background-color: var(--third-color);
    color: var(--black);
    cursor: auto;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 200px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.information h2 {
    padding: 20px;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    color: white;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.key h2 {
    font-size: 1rem;
}

.key img {
    width: 20%;
}